<div class="form-group col-sm-8 input-group">
  <input class="form-control search mr-3 col-sm-5" type="text" name="searchText" [(ngModel)]="searchText" placeholder="&#61442;  Tìm kiếm theo trường" />
  <select class="form-control mr-3 col-sm-3" name="type" id="type" [(ngModel)]="type">
    <option *ngFor="let typec of types" [value]="typec.value">{{typec.type}}</option>
  </select>
  <button (click)="openPopup1(product)" class="btn mr-3 bg-blue2 text-white"> Created product</button>
</div>
<!-- <div>
    <button (click)="changeEmployeeName()" class="btn btn-primary">

    </button>
</div> -->
<div class="table-responsive table-container">
  <table class="table table-bordered table-striped table-hover text-center">
    <thead class="bg-blue2 text-white">
      <tr>
        <th (click)="sortType = 'id'; sortReverse = !sortReverse">
          ID
          <span *ngIf="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>

          <span *ngIf="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th (click)="sortType = 'name'; sortReverse = !sortReverse">
          Name
          <span *ngIf="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>

          <span *ngIf="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th (click)="sortType = 'create_date'; sortReverse = !sortReverse">
          Date Create
          <span *ngIf="sortType == 'create_date' && !sortReverse" class="fa fa-caret-down"></span>
          <span *ngIf="sortType == 'create_date' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th (click)="sortType = 'update_date'; sortReverse = !sortReverse">
          Last Update
          <span *ngIf="sortType == 'update_date' && !sortReverse" class="fa fa-caret-down"></span>
          <span *ngIf="sortType == 'update_date' && sortReverse" class="fa fa-caret-up"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filter :type : searchText : 'includes' | orderBy: sortType : sortReverse : true | paginate: { itemsPerPage: 15, currentPage: p } " (click) ="openPopup1(product)">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.create_date}}</td>
        <td>{{product.update_date}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

