<nav class="navbar navbar-expand-lg navbar-dark bg-blue2 " *ngIf="currentUser">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="isShown = !isShown">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isShown }">
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-item nav-link text-white" routerLink="/home" *ngIf="!isAdmin || !isUser"><i class="fas fa-home"></i>  Home</a></li>
      <li><a class="nav-item nav-link text-white" routerLink="/category" *ngIf="isAdmin"><i class="fas fa-home"></i>  Category</a></li>
      <li><a class="nav-item nav-link text-white" routerLink="/product" *ngIf="isAdmin"><i class="fas fa-home"></i>  Product</a></li>
      <li>
        <a class="nav-item nav-link text-white" *ngIf="!isAdmin && !isUser" (click)="logout()">Login</a>
      </li>
    </ul>
   

   </div>
  <!--<ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light">
        1
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li class="nav-item avatar dropdown">
      <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="img-fluid rounded-circle z-depth-0">
      </a>
      <div class="dropdown-menu dropdown-menu-lg-right dropdown-purple" aria-labelledby="navbarDropdownMenuLink-5">
        <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Action</a>
        <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Another action</a>
        <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Something else here</a>
      </div>
    </li>
  </ul>-->

</nav>
<div class="jumbotron">
  <router-outlet></router-outlet>

</div>
